.banner-card {
    color: white;
    width: 100vw;
}

.banner-img{
    height: 88vh;
    width: 100%;
}

.banner-title {
    position: absolute;
    top: 70vh;
    left: 5vw
}

.banner-text{
    position: absolute;
    top: 75vh;
    left: 5vw;
    width: 90%;
}

.movies-list {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    justify-content: center;
}

.movie-card {
    width: 20vw;
    margin: 1rem;
}

.movie-img {
    height: 40vh;
    width: 100%;
}

.movie-title {
    position: absolute;
    top: 1rem;
    left: 0.5rem;
    color: white;
}

.movie-button {
    position: absolute;
    top: 80%;
}

.button-wrapper, .trending {
    display: flex;
    justify-content: center;
}


::-webkit-scrollbar {
    display: none;
}